@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

@font-face {
  font-family: "baedal";
  src: url("../src/assets/BMJUA_ttf.ttf");
}

body {
  font-family: "Noto Sans KR", "baedal", sans-serif;
}
